*{
    padding:0;
    margin:0;
}

#changePassword-body-id{
    /* background:linear-gradient(90deg,pink,lemonchiffon,skyblue); */
    background-color: #628569;
  } 

#change-pin-id{
    border:2px solid black;
    height:600px;
    width:33%;
   margin-left:470px;
   margin-top:75px;
   background-color:azure;
   box-shadow:3px 3px 3px black;
   border:none;
   border-radius:15px;
} 

#change-password-id{
    text-align:center;
    color:gold;
    padding-top:20px;  
}
#cp-hr{
   padding:30px 20px 20px 20px;
}
#current-pin-id{
    font-size:20px;
    padding-top:30px;
    margin-left:30px;
    margin-top:20px;
} 
#current-field{
    height:35px;
    border-radius:10px;
} 
#new-pin-id{
    font-size:20px;
    padding-top:30px;
    margin-left:30px;
    margin-top:20px;
}
#repeat-current-field{
    height:35px;
    border-radius:10px;
    padding: 0px 10px;
} 
#repeat-new-pin-id{
    font-size:20px;
    padding-top:30px;
    margin-left:30px;  
    margin-top:20px;
}
#new-field{
    height:35px;
    border-radius:10px;
    padding: 0px 10px;
} 
.current-textfeild{
    height:30px;
    width:370px;
    border-radius:5px;
    box-shadow:2px 2px 2px black;
    padding: 0px 10px;
}  
#changed-back-password button{
    display:inline-block;
    position:absolute;
    height:30px;
    width:60px;
    margin-top:80px;
    margin-left:30px;
    background-color: bisque;
    font-size:17px;
    border:none;
    border-radius:10px;
}

#changed-password button{
    position:relative;
    display:inline-block;
    height:30px;
    width:170px;
    margin-top:80px;
    margin-left:235px;
    background-color: bisque;
    border:none;
    border-radius:10px;
    font-size: 17px;
}  
