*{
    padding:0;
    margin:0;
}

#deposite-body-id{
    /* background:linear-gradient(95deg,pink,lemonchiffon,skyblue); */
    background-color: #628569;
  } 
#deposite-id{
    border:2px solid black;
    height:500px;
    width:30%;
   margin-left:470px;
   margin-top:100px;
   background-color:azure;
   box-shadow:3px 3px 3px black;
   border-radius:15px;
   border:none;
}  

#deposite-header{
    text-align:center;
    color:gold;
    padding-top:20px;
}
#da-hr{
    padding:30px 20px 20px 20px;
}
#amount-id{
    font-size:20px;
   margin-top:35px;
    padding-left:10px;
    margin-left:20px;
    height:20px;
    }
    #pin-id{
        margin-top:25px;
        font-size:20px;
        padding-top:30px;
        padding-left:10px;
        margin-left:20px;
        
    }
    #amount{
        height:35px;
        border-radius: 10px;
        padding: 0px 10px;
    }
    #pin{
        height:35px;
        border-radius: 10px;
        padding: 0px 10px;
    }
    #deposite-back button {
        display:inline-block;
    position:absolute;
    height:35px;
    width:65px;
   margin-top:90px;
   margin-left:30px;
    background-color:bisque;
    border:none;
    border-radius:10px; 
    font-size: 17px;
    }
    #deposite-button button{
        display:inline-block;
        position:absolute;
        height:35px;
        width:80px;
       margin-top:90px;
       margin-left:300px;
        background-color:bisque;
        border:none;
        border-radius:10px;   
        font-size: 17px;
    }
    .text-feild{
        height:50px;
        width:350px;
        border-radius:5px;
        box-shadow:2px 2px 2px black;
        /* margin-left:20px; */
    }                     
